<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  {{#each post in controller}}
    <tr>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
      <td>{{post.published}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {{/each}}
</table>
